@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Mochiy+Pop+P+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tilt+Neon&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar style */
.nav-bar,
.logo-cnt,
.nav-links,
.logo-nav-links,
.searchbar-profile-cnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Nunito Sans;
}
.nav-bar{
    padding: 10px 2rem;
    box-shadow: 1px 0px 5px #ccc;
}
.nav-links,
.logo-nav-links,
.searchbar-profile-cnt{
    gap: 30px;
}
.logo-cnt{
    gap: 20px;
}
.nav-link{
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
    transition: all 0.2s ease;
}
.nav-link:hover{
    color: rgb(37, 149, 224);
}
.search,
.search-btn,
.signin-signup-btn{
    padding: 10px 20px;
    border: none;
}
.searchbar-cnt{
    display: flex;
    align-items: center;
}
.search{
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 13.5px;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    transition: all 0.3s ease;
}
.search:focus,
.search:hover{
    outline: none;
    border-color: rgb(37, 149, 224);
}
.search-btn{
    color: white;
    background-color: rgb(37, 149, 224);
    border-radius: 0 4px 4px 0;
}
.search-btn,
.signin-signup-btn{
    padding: 11px 21px;
    font-size: 13px;
    transition: all 0.5s ease;
}
.signin-signup-btn{
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgb(37, 149, 224);
    color: rgb(37, 149, 224);
}
.signin-signup-btn:hover{
    color: white;
    background-color: rgb(37, 149, 224);
}
.search-btn:hover{
    background-color: rgb(31, 132, 200);
}
.user-profile-cnt{
    display: flex;
    align-items: center;
}
.user-profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-right: 10px;
}
.user-profile-photo{
    max-width: 100%;
    margin: auto;
}
/* Main container */
.main-cnt{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 100px;
    padding: 1rem;
    font-family: Nunito sans;
    border-radius: 10px;
}
/* Footer Style */
.footer-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-family: Nunito sans;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    color: white;
    background-color: #333;
}
.footer-cols{
    display: grid;
    width: 100%;
    gap: 40px;
    margin-bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
}
.title{
    margin-bottom: 20px;
}
.about-details,
.contact-details{
    text-align: justify;
    font-size: 1rem;
    line-height: 2rem;
}
.footer-nav{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.footer-nav-link{
    width: 100px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}
.footer-nav-link:hover{
    color: #007FFF;
}
.social-links-icons>a>i{
    color: white;
    margin: 1rem;
    font-size: 2rem;
    transition: all 0.3s ease;
}
.social-links-icons>a>i:hover{
    color: #007FFF;
}
.mail-btn{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #007FFF;
    border-radius: 5px;
    margin-top: 1rem;
    transition: all 0.2s ease;
}
.mail-btn:hover{
    background-color: #0075e9;
}
.mail-btn>i{
    margin-right: 10px;
}
.footer-logo{
    display: flex;
    position: absolute;
    gap: 20px;
    bottom: 30px;
    right: 30px;
}