{% extends '../base/home.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block main %}
<!-- Profile card -->
<div class="profile-header">
    <div class="profile-cnt">
        <div class="profile">
            <div class="profile-photo-cnt">
                <img src="{% static 'images\profile\image.png' %}" alt="" class="profile-photo">
            </div>
            <div class="edit-cnt">
                <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
            </div>
        </div>
        <div class="user-identity-cnt">
            <div class="name-cnt">
                <h1 class="name">Keerthivasan S J <span class="pronouns">(He/Him)</span></h1>
                <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
            </div>
            <h3 class="uname"><i class="fa-regular fa-id-badge"></i> {{uname}}</h3>
            <p class="dob"><i class="fa-solid fa-cake-candles"></i> 16/12/2004</p>
            <div class="location">
                <p><i class="fa-solid fa-location-dot"></i> Trichy, India</p>
            </div>
            <div class="btn-cnt">
                <span class="open-to-work"><i class="fa-solid fa-briefcase"></i> Open to Work</span>
                <button type="button" class="resume"><i class="fa-solid fa-file"></i> Resume</button>
            </div>
        </div>
    </div>
    <div class="share-cnt">
        <button type="button" class="share-btn">Share <i class="fa-solid fa-arrow-up-from-bracket"></i></button>
    </div>
</div>
<!-- About -->
<div class="profile-about-cnt">
    <div class="profile-about-title-cnt">
        <h1 class="profile-about-title">Expert Web Designer with Django experience</h1>
        <div class="edit-cnt">
            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
        </div>
    </div>
    <div class="profle-about-me-cnt">
        <p class="profile-about-me">
            Hello! I'm Keerthivasan S J, a passionate Python programmer and web developer. I thrive on turning complex problems into simple, beautiful solutions. With a solid foundation in Python and hands-on experience from my web development internship, I'm eager to bring my skills to real-world projects. Let's collaborate to create something amazing!
        </p>
    </div>
</div>
<!-- Experience -->
<div class="experiences-cnt">
    <div class="experiences-title-cnt">
        <h1 class="experiences-title">Experience <i class="fa-solid fa-briefcase"></i></h1>
        <div class="add-btn">
            <i class="fa-regular fa-square-plus"></i>
        </div>
    </div>
    <div class="experiences-list">
        <!--  -->
        <div class="experience-detail-cnt">
            <div class="experience-detail">
                <div class="job-role-cnt">
                    <h2 class="job-role">Web Developer Intern | JSW Steel</h2>
                    <div class="edit-cnt">
                        <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
                    </div>
                </div>
                <div class="duration">July 2024 - July 2024</div>
                <div class="experience-description-cnt">
                    <p class="experience-description">Developed a full-stack Flipkart clone during my internship at JSW Steel Salem. Used Django for the backend and HTML, CSS, and JavaScript for the frontend, with cart functionality (payment gateway not included).</p>
                </div>
            </div>
            <div class="delete-btn">
                <i class="fa-regular fa-trash-can"></i>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<!-- Education -->
<div class="education-cnt">
    <div class="education-title-cnt">
        <h1 class="education-title">Education <i class="fa-solid fa-graduation-cap"></i></h1>
        <div class="add-btn">
            <i class="fa-regular fa-square-plus"></i>
        </div>
    </div>
    <div class="education-list">
        <!--  -->
        <div class="education-detail-cnt">
            <div class="education-detail">
                <div class="education-information-cnt">
                    <div class="institution-name-cnt">
                        <h2 class="institution-name">K Ramakrishnan College of Technology</h2>
                        <div class="edit-cnt">
                            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
                        </div>
                    </div>
                    <h4 class="degree">Bachelor of Engineering (BEng) <span class="grade">Grade : 8.6 CGPA</span></h4>
                    <p class="area-of-study">Computer Science</p>
                    <p class="duration">July 2022 - May 2026</p>
                </div>
            </div>
            <div class="delete-btn">
                <i class="fa-regular fa-trash-can"></i>
            </div>
        </div>
        <!--  -->
        <div class="education-detail-cnt">
            <div class="education-detail">
                <div class="education-information-cnt">
                    <div class="institution-name-cnt">
                        <h2 class="institution-name">Malco Vidhyalaya Matric Hir Sec School</h2>
                        <div class="edit-cnt">
                            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
                        </div>
                    </div>
                    <h4 class="degree">Higher Secondary School Certificate <span class="grade">Grade : 85%</span></h4>
                    <p class="area-of-study">Maths-Computer Science</p>
                    <p class="duration">July 2021 - May 2022</p>
                </div>
            </div>
            <div class="delete-btn">
                <i class="fa-regular fa-trash-can"></i>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<!-- Certificates -->
<div class="certifications-cnt">
    <div class="certification-title-cnt">
        <h1 class="certification-title">Certifications <i class="fa-solid fa-award"></i></h1>
        <div class="add-btn">
            <i class="fa-regular fa-square-plus"></i>
        </div>
    </div>
    <div class="certificate-list">
        <!--  -->
        <div class="certificate">
            <div class="certificate-provier-logo-cnt">
                <img src="{% static 'images/icons/certificateicon.png' %}" alt="" class="certificate-provier-logo" width="100px">
            </div>
            <div class="certificate-details-cnt">
                <div class="certificate-details">
                    <div class="certificate-name-cnt">
                        <h2 class="certificate-name">Programming, Data Structures and Algorithms using Python</h2>
                        <div class="edit-cnt">
                            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
                        </div>
                    </div>
                    <div class="issued-details">
                        <h4 class="issued-by">Issued By: NPTEL</h4>
                        <p class="issued-by">Issued On: April 2024</p>
                    </div>
                    <button type="button" class="view-certificate-btn"><i class="fa-solid fa-arrow-up-right-from-square"></i> View Certificate</button>
                </div>
                <div class="delete-btn">
                    <i class="fa-regular fa-trash-can"></i>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="certificate">
            <div class="certificate-provier-logo-cnt">
                <img src="{% static 'images/icons/certificateicon.png' %}" alt="" class="certificate-provier-logo" width="100px">
            </div>
            <div class="certificate-details-cnt">
                <div class="certificate-details">
                    <div class="certificate-name-cnt">
                        <h2 class="certificate-name">Joy of Computing Using Python</h2>
                        <div class="edit-cnt">
                            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
                        </div>
                    </div>
                    <div class="issued-details">
                        <h4 class="issued-by">Issued By: NPTEL</h4>
                        <p class="issued-by">Issued On: November 2023</p>
                    </div>
                    <button type="button" class="view-certificate-btn"><i class="fa-solid fa-arrow-up-right-from-square"></i> View Certificate</button>
                </div>
                <div class="delete-btn">
                    <i class="fa-regular fa-trash-can"></i>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<!-- Projects -->
<div class="project-cnt">
    <div class="project-title-cnt">
        <h1 class="project-title">Projects <i class="fa-solid fa-gear"></i></h1>
        <div class="add-btn">
            <i class="fa-regular fa-square-plus"></i>
        </div>
    </div>
    <div class="project-list">
        <div class="project">
            <div class="project-image-cnt">
                <img src="{% static 'images/icons/projecticon.png' %}" alt="" class="project-provier-logo" width="100px">
            </div>
            <div class="project-details-cnt">
                <div class="project-details">
                    <div class="project-name-cnt">
                        <h2 class="project-name">GPA Calculator</h2>
                        <div class="edit-cnt">
                            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
                        </div>
                    </div>
                    <div class="created-details">
                        <p class="created-on">July 2024 - August 2024</p>
                    </div>
                    <div class="certificate-description-cnt">
                        <p class="certificate-description">I developed a sleek GPA Calculator using the Streamlit framework in Python. This application provides a user-friendly interface for quick and precise GPA calculations, featuring real-time data visualization and effortless data input.</p>
                    </div>
                    <button type="button" class="view-project-btn"><i class="fa-solid fa-arrow-up-right-from-square"></i> View Project</button>
                </div>
                <div class="delete-btn">
                    <i class="fa-regular fa-trash-can"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Skills -->
<div class="profile-skills-cnt">
    <div class="profile-skills-title-cnt">
        <h1 class="profile-skills-title">Skills <i class="fa-solid fa-person-snowboarding"></i></h1>
        <div class="edit-cnt">
            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
        </div>
    </div>
    <div class="profle-skills-list">
        <span class="skills intermediate">Django</span>
        <span class="skills expert">Html</span>
        <span class="skills beginner">CSS</span>
        <span class="skills intermediate">Java</span>
        <span class="skills intermediate">JavaScript</span>
        <span class="skills expert">Python</span>
        <span class="skills beginner">SQL</span>
        <span class="skills beginner">MySQL</span>
        <span class="skills beginner">C</span>
        <span class="skills beginner">Git</span>
        <span class="skills beginner">GitHub</span>
        <span class="skills intermediate">Problem Solving</span>
    </div>
    <div class="profeciancy-level-cnt">
        <div class="profeciancy-level">
            <div class="circle beginner-level"></div>
            <p>Beginner</p>
        </div>
        <div class="profeciancy-level">
            <div class="circle intermediate-level"></div>
            <p>Intermediate</p>
        </div>
        <div class="profeciancy-level">
            <div class="circle expert-level"></div>
            <p>Expert</p>
        </div>
    </div>
</div>
<!-- Languages Known -->
<div class="languages-known-cnt">
    <div class="languages-known-title-cnt">
        <h1 class="languages-known-title">Languages Known <i class="fa-solid fa-earth-asia"></i></h1>
        <div class="edit-cnt">
            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
        </div>
    </div>
    <div class="languages-known-list">
        <span class="languages expert">Tamil</span>
        <span class="languages intermediate">English</span>
    </div>
    <div class="profeciancy-level-cnt">
        <div class="profeciancy-level">
            <div class="circle beginner-level"></div>
            <p>Beginner</p>
        </div>
        <div class="profeciancy-level">
            <div class="circle intermediate-level"></div>
            <p>Intermediate</p>
        </div>
        <div class="profeciancy-level">
            <div class="circle expert-level"></div>
            <p>Expert</p>
        </div>
    </div>
</div>
<div class="testimonials-cnt">
    <div class="testimonials-title-cnt">
        <h1 class="testimonials-title">Testimonials <i class="fa-solid fa-comment-dots"></i></h1>
        <div class="edit-cnt">
            <button type="button" class="edit-btn"><i class="fa-solid fa-pen"></i></button>
        </div>
    </div>
    <div class="comments-cnt">
        <div class="comments">
            <h4 class="comment-by">Sathiya G</h4>
            <p class="message">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam vel molestiae sint? Sunt vel sapiente accusantium illo quos porro delectus consectetur eaque, sit voluptates asperiores a quaerat optio architecto dicta?</p>
        </div>
        <div class="comments">
            <h4 class="comment-by">Jaganathan M</h4>
            <p class="message">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam vel molestiae sint? Sunt vel sapiente accusantium illo quos porro delectus consectetur eaque, sit voluptates asperiores a quaerat optio architecto dicta?</p>
        </div>
    </div>
</div>
{% endblock %}